<p>myapp/views</p><pre class="prettyprint linenums">from django.shortcuts import render, redirect
from .models import Food,Consume
# Create your views here.
def index(request):

    if request.method =="POST":
        food_consumed = request.POST['food_consumed']
        consume = Food.objects.get(name=food_consumed)
        user = request.user
        consume = Consume(user=user,food_consumed=consume)
        consume.save()
        foods = Food.objects.all()


    else:
        foods = Food.objects.all()
    consumed_food = Consume.objects.filter(user=request.user)

    return render(request,'myapp/index.html',{'foods':foods,'consumed_food':consumed_food})

def delete_consume(request,id):
    consumed_food = Consume.objects.get(id=id)
    if request.method =='POST':
        consumed_food.delete()
        return redirect('/')
    return render(request,'myapp/delete.html')


</pre><p><br></p><p>myapp/models</p><pre class="prettyprint linenums">from django.db import models
from django.contrib.auth.models import User
# Create your models here.

class Food(models.Model):

    def __str__(self):
        return self.name

    name = models.CharField(max_length=100)
    carbs = models.FloatField()
    protein = models.FloatField()
    fats = models.FloatField()
    calories = models.IntegerField()

class Consume(models.Model):
    user = models.ForeignKey(User,on_delete=models.CASCADE)
    food_consumed = models.ForeignKey(Food,on_delete=models.CASCADE)

</pre><p><br></p><p>myapp/admin</p><pre class="prettyprint linenums">from django.contrib import admin
from .models import Food,Consume
# Register your models here.
admin.site.register(Food)
admin.site.register(Consume)</pre><p><br></p><p>myapp/templates/myapp</p><p>index html</p><pre class="prettyprint linenums">&lt;html&gt;
    &lt;head&gt;
        &lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"&gt;
        &lt;script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;

        &lt;div class="container"&gt;
            &lt;div class="row"&gt;
                &lt;div class="col-md-12"&gt;
                    &lt;nav class="navbar navbar-dark bg-primary"&gt;
                        &lt;span class="navbar-brand"&gt;Calorie Tracker&lt;/span&gt;
                    &lt;/nav&gt;
                &lt;/div&gt;
            &lt;/div&gt;

            &lt;br&gt;&lt;br&gt;&lt;br&gt;

            &lt;h4&gt;Calorie Goal&lt;/h4&gt;
            &lt;br&gt;
            &lt;div class="row"&gt;
                &lt;div class="col-md-9 offset-1"&gt;
                    &lt;div class="progress"&gt;
                            &lt;div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"&gt;&lt;/div&gt;

                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;br&gt;&lt;br&gt;
            &lt;div class="row"&gt;
                &lt;div class="col-md-12"&gt;
                        &lt;form method="POST"&gt;
                            &lt;div class="form-group row"&gt;
                                {% csrf_token %}
                                &lt;label class="col-md-2"&gt;
                                    &lt;b&gt;Select Food To Add &lt;/b&gt;
                                    
                                &lt;/label&gt;
                                &lt;select class="col-md-6 form-control" name="food_consumed" id="food_consumed"&gt;
                                        {% for food in foods %}
                                         &lt;option value="{&zwnj;{food.name}}"&gt;{&zwnj;{food.name}}&lt;/option&gt;
                                        {% endfor %}
                                &lt;/select&gt;
                                &lt;button class="btn btn-success" type="submit"&gt;Add&lt;/button&gt;
                            &lt;/div&gt;
                        &lt;/form&gt;
                &lt;/div&gt;
            &lt;/div&gt;


            &lt;div class="row"&gt;
                &lt;div class="col-md-7"&gt;
                    &lt;div &gt;
                        &lt;h4&gt; Today's Consumption&lt;/h4&gt;
                    &lt;/div&gt;

                    &lt;table id="table" class="table table-striped table-primary"&gt;
                        &lt;tr class="bg-primary text-white"&gt;
                            &lt;th&gt;Food item&lt;/th&gt;
                            &lt;th&gt;Carbs(gm)&lt;/th&gt;
                            &lt;th&gt;Protein(gm)&lt;/th&gt;
                            &lt;th&gt;Fats(gm)&lt;/th&gt;
                            &lt;th&gt;Calories(Kcal)&lt;/th&gt;
                            &lt;th&gt;Remove Item&lt;/th&gt;
                        &lt;/tr&gt;
                                {% for c in consumed_food %}
                                &lt;tr&gt;
                                    &lt;td&gt;{&zwnj;{c.food_consumed.name}}&lt;/td&gt;
                                    &lt;td&gt;{&zwnj;{c.food_consumed.carbs}}&lt;/td&gt;
                                    &lt;td&gt;{&zwnj;{c.food_consumed.protein}}&lt;/td&gt;
                                    &lt;td&gt;{&zwnj;{c.food_consumed.fats}}&lt;/td&gt;
                                    &lt;td&gt;{&zwnj;{c.food_consumed.calories}}&lt;/td&gt;
                                    &lt;td&gt;&lt;a class="btn btn-danger" href="{% url 'delete' c.id %}"&gt;X&lt;/a&gt;&lt;/td&gt;
                                &lt;/tr&gt;

                                {% endfor %}

                                &lt;tr&gt;
                                    &lt;td id="name"&gt;&lt;b&gt;Total&lt;/b&gt;&lt;/td&gt;
                                    &lt;td id="totalCarbs"&gt;&lt;b&gt;&lt;/b&gt;&lt;/td&gt;
                                    &lt;td id="totalProtien"&gt;&lt;b&gt;&lt;/b&gt;&lt;/td&gt;
                                    &lt;td id="totalFats"&gt;&lt;b&gt;&lt;/b&gt;&lt;/td&gt;
                                    &lt;td id="totalCalories"&gt;&lt;b&gt;&lt;/b&gt;&lt;/td&gt;
                                    
                                    
                                &lt;/tr&gt;
                       
                    &lt;/table&gt;
                &lt;/div&gt;

                &lt;div class="col-md-5 "&gt;
                    &lt;div class=""&gt;
                        &lt;h4&gt;Today's breakdown&lt;/h4&gt;
                    &lt;/div&gt;
                    &lt;div class="card-header text-white bg-primary"&gt;
                        &lt;h4&gt;Macronutrients breakdown&lt;/h4&gt;
                    &lt;/div&gt;
                    &lt;div class="col-md-12"&gt;
                        
                        &lt;canvas id="myChart" width="400" height="400"&gt;&lt;/canvas&gt;

                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            
        &lt;/div&gt;


&lt;/body&gt;
&lt;script&gt;
    var table = document.getElementById("table");
    var carbs=0,protein=0,fats=0,calories=0;

    for(var i=1;i&lt;table.rows.length-1;i++){
        console.log(table.rows[i].cells[1].innerHTML);
        carbs +=parseFloat(table.rows[i].cells[1].innerHTML);
        carbs = Math.round(carbs);
        protein+= parseFloat(table.rows[i].cells[2].innerHTML);
        protein = Math.round(protein)
        fats+= parseFloat(table.rows[i].cells[3].innerHTML);
        fats = Math.round(fats);
        calories+= parseFloat(table.rows[i].cells[4].innerHTML);
        calories = Math.round(calories);
    }
    console.log(fats);

    document.getElementById("totalCarbs").innerHTML = '&lt;b&gt;' + carbs+'(gm)&lt;/b&gt;';

    document.getElementById("totalProtien").innerHTML ='&lt;b&gt;' + protein+'(gm)&lt;/b&gt;';

    document.getElementById("totalFats").innerHTML = '&lt;b&gt;' +fats+'(gm)&lt;/b&gt;';

    document.getElementById("totalCalories").innerHTML = '&lt;b&gt;' +calories+'(Kcal)&lt;/b&gt;';

    var calPer = (calories/2000) *100;
    document.getElementsByClassName("progress-bar")[0].setAttribute("style","width:"+calPer+"%");


    var total  = carbs+protein+fats;
    var carbsP = Math.round((carbs/total)*100);
    var protienP = Math.round((protein/total)*100);
    var fatsP = Math.round((fats/total)*100);



    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Carbs '+carbsP+'%', 'Protein '+protienP+'%', 'Fats '+fatsP+'%'],
        datasets: [{
            label: '# of Votes',
            data: [carbsP, protienP, fatsP],
            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                
            ],
            borderWidth: 1
        }]
    },
    
});


&lt;/script&gt;
&lt;/html&gt;</pre><p><br></p><p>myapp/templates/myapp</p><p>delete html</p><pre class="prettyprint linenums">&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
 
    &lt;title&gt;Document&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;form method="POST"&gt;

        {% csrf_token %}
        Are you sure you want to delete the item?
        &lt;input type="submit"&gt;
    &lt;/form&gt;
&lt;/body&gt;
&lt;/html&gt;</pre><p><br></p><p>mysite/urls</p><pre class="prettyprint linenums">from django.contrib import admin
from django.urls import path
from myapp import views
urlpatterns = [
    path('admin/', admin.site.urls),
    path('',views.index,name="index"),
    path('delete/&lt;int:id&gt;/',views.delete_consume,name="delete"),
]

</pre><p><br></p><p><br></p><p><br></p>